
.vtv-wrapper {
  width: 1000px;
}

.inline {
  display: inline;
  border: 0;
  padding: 0;
  text-align: var(--justify-normal);
  box-shadow: unset;
}

.link-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: var(--links);
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  margin: 0
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}

pre {
  overflow-x: scroll;
}