{% extends "layout" %}

{% block content %}
<h1> Details of Goal </h1>

<div hx-ext="client-side-templates,sse"
     sse-connect="/query/listen?id={{model.goal.id}}">
<p><b>Query:</b> {{model.goal.inputQuery}}</p>
<p><b>Agent:</b> {{model.agent}}</p>
<template id="state">
  <p><b>State:</b> [[status]]</p>
  <p><b>Result:</b> [[result]]</p>
</template>
<div     sse-swap="state"
         hx-swap="innerHTML"
         mustache-template="state">
  <p><b>State:</b> {{model.goal.status}}</p>
  <p><b>Result:</b> {{model.goal.result}}</p>
</div>

{% if not model.goal.artifacts.isEmpty() %}
<h2>Artifacts</h2>
  <ol class="vtv">
    {% for a in model.artifacts %}
    <li data-path="{{a.filename}}"
        data-language="{{a.highlighter}}"
        data-url="/query/artifact?id={{model.goal.id}}&file={{a.filename}}"></li>
    {% endfor %}
  </ol>
{% endif %}

<h2>Log</h2>

<template id="prompt">
  <pre>[[prompt]]</pre>
  <p>[[error]]</p>
</template>

<p id="prompt-table"
    sse-swap="update"
    hx-swap="innerHTML"
   mustache-template="prompt" ></p>

</div>
{% endblock %}
