<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flunkydom</title>
<!--  <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <header id="header">
    <nav>
      <a href="/"><b>Flunkydom</b></a>
      <ul>
        <li><a href="/tools">Tools</a></li>
        <li><a href="/embeddings">Embeddings</a></li>
        <li><a href="/query">Goals</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer id="footer">
    {% block footer %}
      <i>Let them work for you</i>
    {% endblock %}
  </footer>
</body>
</html>